/*index*/
html,body{
    width:100%;height:100%;
    margin:0;padding:0;color:#7d7d7d;
}
a{color:#7d7d7d;text-decoration:none;}
a:hover{color:#7d7d7d;text-decoration:none;}
ul,li{margin:0;padding:0;list-style:none;}
input{width:100%;height:100%;padding:0;margin:0;border:0;}
.sideleft{
    width:15%;height:100%;float:left;border-right:3px solid #f1f1f1;box-sizing:border-box;
}
.sideright{
    width:85%;height:100%;float:left;
}
.sideleft ul a{display:block;width:100%;height:100%;color:#7d7d7d;text-decoration:none;}
.sideright .menu{
    width:100%;height:70px;border-bottom:3px solid #f1f1f1;box-sizing:border-box;
}
.sideright .contain{width:100%;height:100%;overflow:scroll}
.sideright .contain iframe{display:none;}
.sideleft ul,.sideleft .logo{
    margin:0;padding:0;width:100%;height:70px;cursor:pointer;
}
.sideleft .active{background: #eeeeee;}
.sideleft ul:hover{background: #eeeeee;}
.sideleft ul li{
    width:150px;height:100%;line-height:70px;text-align:center;margin:0 auto;list-style:none;position:relative;
}
.sideleft ul li img{position:absolute;top:0;bottom:0;left:10px;margin:auto;}
.sideright .menu .btn-group{float:right;height:100%;right:30px;}
.sideright .menu .btn-group .btn{height:100%;background:#fff;border:0;border-radius:0;}
/*===================start 人员管理===============================*/
/*number.html*/
.header1{width:100%;height:70px;line-height:70px;font-size:20px;position:relative;}
.header1 .title{float:left;width:100px;}
.header1 ul{float:right;width:240px;height:30px;position:absolute;top:0;bottom:0;right:10px;margin:auto;}
.header1 ul li{
    float:left;width:50px;height:30px;line-height:30px;font-size:14px;color:#fff;border-radius:4px;background:#53a2e0;margin-right:8px;
    text-align:center;cursor:pointer;
}
.header1 .stop,.header1 .delete{background:#CCCCCC;}
.search{width:200px;height:32px;}
.search input{border:0;border:1px solid #b2b2b2;border-radius:18px;padding-left:6px;box-sizing:border-box;font-size:14px;}
 .search img{width:29px;height:26px;position:absolute;top:4px;right:8px;}
.contain1{
    width:100%;height:550px;position:relative;
}
.contain1 .conn{width:100%;height:150px;margin-top:10px;}
.contain1 .conn .con{
    float:left;width:33%;height:100%;border-radius:10px;position:relative;
}
.contain1 .conn .con ul{float:left;position:relative;}
.contain1 .conn .con .pictrue{width:120px;height:120px;border-radius:50%;overflow:hidden;}
.contain1 .conn .con .pictrue img{width:100%;height:100%;}
.contain1 .conn .con .xinxi li{line-height:32px;}
.contain1 .conn .con .xinxi li:first-child{margin-top:18px;}
/* check_______________________________________________________ */
.checkbox input[type="checkbox"] {
    position: relative;
    margin: 0 10px;
}
.checkbox input[type="checkbox"]:before {
    border: 2px solid transparent;
    content: "";
    cursor: pointer;
    display: block;
    height: 17px;
    position: absolute;top:0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    width: 17px;
    z-index: 1;
}
.checkbox input[type="checkbox"]:checked:before {
    border-color: #53a2e0;
    border-top-style: none;
    border-right-style: none;
    height: 10px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.checkbox input[type="checkbox"]:after {
    background: #FFFFFF;
    content: "";
    display: block;
    height: 17px;
    position: absolute;
    border: 2px solid rgba(189, 195, 199, 0.5);
    width: 17px;
    z-index: 0;
}
/* _______________________________________________________ */
.contain1 .conn .con .checkbox{position:absolute;top:-16px;right:94px;display:none;}
.contain1 .pagination{width:657px;margin-top:25px;position:absolute;left:0;right:0;margin:auto;}

/*number_add.html*/
.header2 ul li:first-child{width:100px;}
.contain2{height:600px;}
.contain2 .conn{
    width:50%;height:580px;float:left;margin:0;
}
.contain2 .conn ul{width:100%;height:40px;margin-bottom:8px;}
.contain2 .conn ul li:first-child{width:120px;height:100%;text-align:right;line-height:40px;float:left;font-size:16px;}
.contain2 .conn ul li:last-child{width:400px;height:100%;text-align:right;line-height:40px;float:left;margin-left:10px;}
.contain2 .conn ul li:last-child input{width:100%;height:100%;border:1px solid #d7d7d7;border-radius:5px;}
.contain2 .conn .tupian{height:200px;}
.contain2 .conn .tupian li:last-child{width:200px;border:1px solid #53a2e0;}
.contain2 img{width:100%;height:100%;}
.contain2 .conn ul li select{width:100%;height:100%;border:1px solid #d7d7d7;}

/*number_xianqiang.html*/
.header3 .title{width:150px;}
.contain3{padding-left:20px;box-sizing:border-box;}
.contain3 .people{width:100px;height:100px;border-radius:50%;overflow:hidden;}
.contain3 ul{width:100%;height:40px;line-height:40px;margin-bottom:8px;}
.contain3 ul li{width:280px;height:40px;float:left;}
.contain3 ul li span{float:left;text-align:center;}
.contain3 .tupian{height:200px;}
.contain3 .tupian li{height:100%;}
.contain3 .tupian li img{width:200px;height:100%;border:1px solid #53a2e0;}
/*.contain_In{background:red;}*/
/*===================end 人员管理===============================*/
/*===================start 入库管理===============================*/
/*In.html*/
.header_In{width:100%;height:70px;line-height:70px;}
.header_In ul{float:left;height:100%;}
.header_In ul li{float:left;height:100%;text-align:center;cursor:pointer;}
.header_In .title{width:400px;}
.header_In .title li{width:150px;text-align:center;font-size:18px;}
.header_In .title li:first-child{width:100px;}
.header_In .title .active{color:#53a2e0;border-bottom:2px solid #53a2e0;box-sizing:border-box;}
.header_In .search{width:300px;height:35px;position:relative;}
.header_In .search img{width:29px;height:26px;position:absolute;top:22px;right:8px;}
.header_In .button{width:210px;float:right;position:relative;}
.header_In .button li{width:100px;height:35px;background:#53a2e0;border-radius:5px;cursor:pointer;line-height:35px;margin-left:5px;margin-top:17px;}
.header_In .button li a{display:block;width:100%;height:100%;color:#FFF;}
.rilibox .outer .true{cursor:pointer;}
.outer{width:450px;height:35px;}
.outer .date{width:150px;}
.outer .date input{width:100%;background:#fff;padding-left:26px;box-sizing:border-box;}
.outer .true{float:right;width:80px;height:35px;background:#53a2e0;line-height:35px;text-align:center;color:#fff;border-radius:5px;}
.outer .date img{position:absolute;top:7px;left:6px;}
.contain_In{height:570px;}
.contain_In .left{width:60%;height:100%;float:left;}
.contain_In .right{width:39%;height:100%;float:right;}
.contain_In .top{width:100%;height:200px;}
.contain_In .bottom{width:100%;height:350px;margin-top:5px;border:3px solid #f1f1f1;box-sizing:border-box;}
.contain_In .top .onebox{float:left;width:70%;height:100%;border:3px solid #f1f1f1;box-sizing:border-box;}
.contain_In .top .twobox{float:right;width:25%;height:100%;border:3px solid #f1f1f1;box-sizing:border-box;}
.contain_In .top .onebox ul{width:25%;height:100%;float:left;text-align:center;}
.contain_In .top .onebox ul li{width:100%;height:90px;line-height:70px;font-size:35px;}
.contain_In .top .onebox ul li:first-child{width:100%;height:100px;line-height:100px;font-size:18px;}
.contain_In .top .twobox ul{width:100%;height:100%;}
.contain_In .top .twobox ul li{width:100%;height:50px;line-height:50px;text-align:center;}
.contain_In .top .twobox ul .img{width:100px;height:100px;border-radius:100%;margin:0 auto;overflow:hidden;}
.contain_In .top .twobox ul .img img{width:100%;height:100%;}
/*In_xianqing.html*/
.contain_In_biaoge{height:700px;}
/*In2_xianqing_xq.html*/
.contain_In_xianqing2 .left{width:50%;}
.contain_In_xianqing2 .right{width:49%;}
.contain_In_xianqing2 .top .onebox ul{width:33.3%;}
.contain_In_xianqing2 .left .top .title{width:100%;height:40px;line-height:40px;color:#53a2e0;font-size:18px;}
.contain_In_xianqing2 .left .top .con{width:100%;height:160px;}
.contain_In_xianqing2 .left .top .con ul{width:43%;height:100%;float:left;}
.contain_In_xianqing2 .left .top .con ul:first-child{width:35%;}
.contain_In_xianqing2 .left .top .con ul li{width:100%;height:46px;line-height:46px;}
.contain_In_xianqing2 .left .top .con .teshu{width:22%;float:right;}
.contain_In_xianqing2 .left .top .con .teshu li{width:100%;height:40px;line-height:38px;}

.banner{position:absolute;top:0;left:0;}

/*仓库管理*/
/*room.html*/
.header_room .title{width:720px;}
.header_room .title li{width:20%;}
.header_room .title li a{width:20%;color:#53a2e0;}
.header_room .title li:first-child{width:20%;}
.header_room .title li a{display:block;width:100%;height:100%;}
.contain_room{height:750px;}
.contain_room .top,.contain_room .center,.contain_room .bottom{width:100%;}
.contain_room .top{height:160px;margin-top:5px;}
.contain_room .top .con,.contain_room .top .con2{width:500px;height:100%;float:left;border:3px solid #f1f1f1;box-sizing:border-box;}
.contain_room .top .con2{margin-left:20px;color:#53a2e0;}
.contain_room .top .con ul{width:33.333%;height:100%;float:left;}
.contain_room .top .con ul li{width:100%;height:120px;line-height:120px;text-align:center;font-size:32px;}
.contain_room .top .con ul li:first-child{width:100%;height:40px;line-height:40px;font-size:18px;}
.contain_room .top .con2 .title{width:100%;height:40px;line-height:40px;font-size:18px;}
.contain_room .top .con2 .title li{float:left;text-align:left;margin-left:8px;margin-right:8px;}
.contain_room .top .con2 .title li a{color:#7d7d7d;text-decoration:underline;margin-right:8px;}
.contain_room .top .con2 .manage{width:480px;height:120px;margin:0 auto;}
.contain_room .top .con2 .manage ul{width:33.333%;height:100%;float:left;}
.contain_room .top .con2 .manage ul li{width:100%;height:20px;margin:0 auto;text-align:center;line-height:10px;}
.contain_room .top .con2 .manage ul li:first-child{height:100px;}
.contain_room .top .con2 .manage ul li img{width:90px;height:90px;border-radius:50%;overflow:hidden;}
.contain_room .center{width:100%;height:65px;padding-top:12px;box-sizing:border-box;}
.contain_room .center .conn{float:left;width:600px;height:100%;margin:0;font-size:16px;}
.contain_room .center .conn li{width:140px;height:36px;float:left;border-radius:18px;margin-right:8px;border:1px solid #53a2e0;overflow:hidden;line-height:36px;text-align:center;}
.contain_room .center .conn li:first-child{background:#53a2e0;color:#fff;}
.contain_room .center .conn2{float:right;margin-right:5px;width:60px;height:100%;}
.contain_room .center .conn2 li{cursor:pointer;float:left;margin-right:10px;width:60px;height:36px;background:#53a2e0;border-radius:4px;line-height:36px;text-align:center;color:#fff;font-size:16px;}
.contain_room .center .conn li select{width:100%;height:100%;background:#fff;color:#53a2e0;border:0;margin:0;padding:0;cursor:pointer;text-align:center;}
.contain_room .center .conn li select option{background:#53a2e0;color:#fff;text-align:center;}
.contain_room .bottom{width:100%;}

.contain_room .table .img img{height:50px;}
.contain_room .table td{position:relative;}
.contain_room .table .input input{
    width:70px;height:20px;background-image:url("../img/xiu.png");
    background-repeat:no-repeat;background-position-x:40px;
}
.contain_room .table .input img{position:absolute;left:60px;}

.contain_room .checkbox{min-height:0;min-width:0;margin:0;padding:0;}
.contain_Need .top .con ul{width:25%;}
/*智能取货*/
/*Qu.html*/
.contain_Qu{height:700px;}
.contain_Qu .con_Qu{width:100%;height:130px;border:2px solid #d7d7d7;box-sizing:border-box;margin-bottom:10px;}
.contain_Qu .con_Qu ul{width:11.11%;height:100%;float:left;}
.contain_Qu .con_Qu ul li{width:100%;height:60px;line-height:60px;text-align:center;color:#8c8c8c;font-size:14px;}
.contain_Qu .con_Qu ul li:first-child{color:#494949;font-size:16px;}
    /*遮罩*/
    .zhezhao{
        width:100%;height:100%;background:rgba(0,0,0,.2);
        position:absolute;top:0;left:0;
        display:none;
    }
    .HQ_contain{
        width:800px;height:500px;background:rgba(255,255,255,1);position: absolute;
        top:80px;left:0;right:0;margin:auto;border-radius:12px;overflow:hidden;
        display:none;z-index:99999;
    }
    .HQ_contain .header{width:100%;height:60px;line-height:60px;position:relative;}
    .HQ_contain .title{width:100px;text-align:center;color:#53a2e0;font-size:18px;float:left;}
    .HQ_contain .button{width:160px;height:30px;position:absolute;top:0;bottom:0;right:0;margin:auto;}
    .HQ_contain .button li{width:70px;height:100%;line-height:30px;text-align:center;color:#fff;background:#53a2e0;float:left;margin-right:10px;border-radius:6px;}
    .HQ_contain .img_luxian{width:780px;height:400px;margin:0 auto;}
    .HQ_contain .img_luxian .left{width:500px;height:100%;float:left;}
    .HQ_contain .img_luxian .left img{width:100%;height:100%;}
    .HQ_contain .img_luxian .right{width:220px;height:100%;float:right;}
    .HQ_contain .img_luxian .right .one{width:100%;height:140px;}
    .HQ_contain .img_luxian .right .two{width:100%;height:260px;}
    .HQ_contain .img_luxian .right .one ul{width:100%;height:32px;line-height:32px;}
    .HQ_contain .img_luxian .right .one ul li{float:right;width:70%;text-align:left;}
    .HQ_contain .img_luxian .right .one ul li:first-child{width:30%;float:left;}
    .HQ_contain .img_luxian .right .two ul{width:173px;height:100%;border:1px solid #53a2e0;padding-left:15px;box-sizing:border-box;}
    .HQ_contain .img_luxian .right .two ul li{width:100%;height:25px;line-height:25px;}
    .HQ_contain .img_luxian .right .two ul .img{width:60px;height:60px;border-radius:50%;overflow:hidden;margin:0 auto;}
    .HQ_contain .img_luxian .right .two ul .img img{width:100%;height:100%;}
    .HQ_contain .img_luxian .right .two ul .sao{width:100%;height:100px;margin:0 auto;}
    .HQ_contain .img_luxian .right .two ul .sao ul{float:left;height:100%;text-align:center;border:0;margin:0;padding:0;}

    .HQ_contain .input_add{width:100%;height:100%;}
    .HQ_contain .input_add .headerdd{width:100%;height:50px;}
    .HQ_contain .input_add .headerdd{padding-left:30px;box-sizing:border-box;}
    .HQ_contain .input_add .headerdd ul{width:200px;height:100%;float:left;margin-right:5px;}
    .HQ_contain .input_add .headerdd .time{width:400px;float:right;}
    .HQ_contain .input_add .headerdd ul li{float:left;line-height:50px;}
    .HQ_contain .input_add .headerdd ul li select{width:122px;border:1px solid #8c8c8c;height:30px;border-radius:15px;background:#fff;}
    .HQ_contain .input_add .headerdd .time .rili2{width:320px;}
    .HQ_contain .input_add .headerdd .time .rili2 .date{margin:0;}
    .HQ_contain .input_add .headerdd .time .rili2 .outer .date img{top:14px;}
    .HQ_contain .input_add .headerdd .time .rili2 input{width:143px;}
    .HQ_contain .input_add .table_xianqing td{border:0;}
    .HQ_contain .input_add .table_xianqing td input{border:1px solid #8c8c8c;height:30px;}

    .table th,.table td{text-align:center;}
